/**
 * Hero Banner
 * CSS Grid + CSS Nesting + Container Query
 */

.hero-banner {
    container: hero / inline-size;
    position: relative;
    color: hsl(0 0% 100%);
}

.hero-banner__container {
    max-inline-size: 90rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
    min-block-size: 37.5rem;
    display: grid;
    place-items: center start;
    margin-top: 2rem;
    position: relative;
    & > * {
        grid-area: 1 / 1;
    }

    & .hero-banner__content {
        padding-block: 2rem;
        padding-inline: 4rem;
        z-index: 1;
        font-family: 'Montserrat', sans-serif;

        & .data_container {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 6.25rem;
            padding: 4rem;
            justify-content: center;
            align-items: flex-start;
            width: 28.75rem;
        }
    }
}

.hero-banner {
    &__shape {
        position: absolute;
        inset: 0;
        inline-size: 100%;
        block-size: 100%;
        z-index: 0;
    }

    &__background {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
        z-index: -1;

        & img {
            inline-size: 100%;
            block-size: 100%;
            object-fit: cover;
        }
    }

   

    
}

/* Container Query */
@container hero (inline-size < 48rem) {
    .hero-banner__container {
        min-block-size: auto;

        .hero-banner__decorative {
            display: none;
        }

        .hero-banner__content {
            padding-block: 2.5rem;
        }
    }
}
