/**
 * Section Differences - Cards de Diferenciais
 * CSS Grid + Container Query + CSS Nesting
 */

.section-differences {
    container-type: inline-size;

    & .section-differences__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 1.5rem;
        max-inline-size: 90rem;
        margin-inline: auto;
        padding: 4.5rem 1.5rem;
        margin-top: 5rem;
        background-image: url("../../images/diferencial-1.svg");
        background-repeat: no-repeat;
        background-size: 100%;

        color: white;

        @container (max-width: 56rem) {
            grid-template-columns: repeat(2, 1fr);
        }

        @container (max-width: 36rem) {
            grid-template-columns: 1fr;
        }
    }

    & .difference-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
        font-family: "Montserrat", sans-serif;

        & .difference-card__content{
            & h3 {
                margin: 0;
                font-size: 1.25rem;
                font-weight: 600;
            }

            & p {
                margin: 0;
                font-size: 1rem;
            }
        }
    }

    & .difference-card__icon {
        flex-shrink: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 5rem;
        color: #001e64;

        & i {
            font-size: 1.5rem;
        }
    }

    & .difference-card__content {
        flex: 1;
        min-width: 0;
    }
    
}   


